/*
SOURCE(S):
https://alvarotrigo.com/blog/css-text-animations/ (letter bouncing animation)
https://developer.mozilla.org/en-US/docs/Web/CSS/cursor (set cursor type)
*/

body {
    padding: 0px;
    margin: 0px;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: black;
    font-family: "Roboto", sans-serif;
    /* overflow: hidden; */
    /* display: flex; */
    /* height: 100% */
}

/* TITLE */
.letters {
    position: relative;
    font-size: 200px;
    padding: 0px;
    margin-top: 100px;
}

.letters:hover {
    
    cursor: default;
}

.letters span {
    padding-left: 30px;
    padding-right: 30px;
    color: white;
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    animation: letter-bounce 1s infinite;
    animation-delay: calc(.1s * var(--i));
}

@keyframes letter-bounce {
    0%, 40%, 100% {
      transform: translateY(0px)
    }
    20% {
      transform: translateY(-20px)
    }
}
/**********/

/* NAVIGATION BUTTONS */
a {
    width: 250px;
    height: 100px;
    position: relative;
    display: inline-block;
    font-size: 20px;
    text-align: center;
    line-height: 100px;
    /* padding: 50px; */
    margin: 30px;
    text-decoration: none;
    color: black;
}

a:hover {
    transform: scale(1.25);
}

.button-1 {
    background-color: pink;
}

.button-2 {
    background-color: blue;
}

.button-3 {
    background-color: yellow;
}

.button-4 {
    background-color: lightgreen;
}
/**********/
