/* TEXT */
p,
h1,
h2,
h3,
h4,
h5,
h6,
button {
    font-family: "Raleway", serif;
}

h4 {
    color: gray;
}
/**********/

body {
    background-color: #f5f5f9;
    background-size: cover;
    width: auto;
    overflow-x: hidden;
    font-family: "Roboto", serif;
    margin: 0px;
}

/* HEADER */
.nav-bar {
    width: 100%;
    display: inline-block;
    text-align: center;
    font-family: "Roboto", serif;
    font-weight: 700 !important;
    padding-top: 30px;

    /* TODO: Fix so colors loop */
    /*
    background: linear-gradient(90deg, #FF7070, #eec452, #A7FF70, #DB70FF);
    background-size: 400% 400%;
    animation: gradient 8s ease infinite;
    */

    animation-name: gradient;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes gradient {
    0% {
        background: #FF7070;
    }
    33% {
        background: #A7FF70;
    }
    66% {
        background: #70F3FF;
    }
    100% {
        background: #DB70FF;
    }
}

/*
#mydiv {
    width: 100%;
    height: 600px;
    position: relative;
    overflow: hidden;
    animation: background-gradient 5s;
    animation-iteration-count: infinite;
    backface-visibility: hidden;
    animation-timing-function: ease-in-out;
    background-image: radial-gradient(circle at 90% 80%, transparent, #4d0019);
  }
  
  @keyframes background-gradient {
    0% {
      background-color: #ff0000;
    }
    25% {
      background-color: yellow;
    }
    50% {
      background-color: #3333cc;
    }
    75% {
      background-color: #00ffcc;
    }
    100% {
      background-color: #cc9900;
    }
  }
*/

.nav-logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-logo img {
    width: 200px;
}

.profile h1 {
    font-size: 50px;
    font-weight: 700;
    color: white;
}

.profile img {
    border-radius: 50%;
    max-width: 100%;
    max-height: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding: 20px;
}

.profile .profile-picture {
    height: 200px;
}

.tabs {
    padding-bottom: 20px;
}
/**********/

.banner {
    padding: 20px 0px 50px 0px;
    height: 150px;
    background-color: #1d539f;
}

.banner .logo {
    max-width: 180px;
    max-height: 60px;
    width: auto;
    height: auto;
}

.banner .title {
    color: white;
    font-size: 50px;
    font-weight: 700;
}

main {
    width: min(1200px, 100%);
    margin: 100px auto;
}

hr {
    margin: 50px 0;
}

section {
    padding: 0 50px;
}

.section-title {
    margin: 0 0 10px 0;
    font-weight: 300;
    font-size: 2rem;
}

.item-title {
    white-space: nowrap;
    margin-bottom: 10px;
}

.item-subtitle {
    margin: 0;
    font-weight: 300;
}

.item-date {
    text-align: end;
    width: 100%;
}

html {
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}

ul, p {
    font-weight: 300;
    font-size: 1.2rem;
}

.hobbies-button {
    padding: 30px;
    margin: auto;
    background-color: blueviolet;
    color: white;
    font-size: large;
}

.user-switch {
    position: absolute;
    margin-left: 15px;
}

.user-switch > a {
    font-size: 1rem;
    font-weight: 300;
    text-decoration: none;
    color: black;
}

/* HOBBIES SECTION */
.hobbies .row {
    display: flex;
    padding-bottom: 15px;
}

.hobbies .item {
    flex: 50%;
    align-items: center;
}

.hobbies img {
    display: block;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
}

.hobbies h3 {
    text-align: center;
}
/**********/

.week-info img {
    display: block;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
}