{% extends 'home.html' %}

{% block about %}

<p>
    I am a Computer Science major at the City College of New York (CCNY). <br>
    I was born in Manhattan, but I have liveed in Brooklyn most of my life. <br>
    I am working towards being a full-stack software engineer.
</p>

{% endblock about %}

{% block work %}

<div class="item">
    <div class="item-details">
        <div style="display:flex; align-items:center">
            <h3 class="item-title">Production Engineering Fellow</h3>
            <div class="item-date">
                May 2022 - Current
            </div>
        </div>
        <h4 class="item-subtitle">Major League Hacking</h4>
        <ul>
            <li>Meeting with Meta engineers to learn more about production engineering and its significance.</li>
            <li>Working on personal projects in small groups to acquire hands-on production engineering experience.</li>
            <li>Attending workshops led by specialists from organizations like MLH and Google to get familiar with tools and skills that are useful in the workplace.</li>
        </ul>
    </div>
</div>


<div class="item">
    <div class="item-details">
        <div style="display:flex; align-items:center">
            <h3 class="item-title">Intern</h3>
            <div class="item-date">
                Jan 2022
            </div>
        </div>
        <h4 class="item-subtitle">United Nations International Computing Centre</h4>
        <ul>
            <li>Conducted research and prepared presentations about the UNICC's goals and partner organizations using Microsoft Office products.</li>
            <li>Created compelling infographics with 3 team members using given data, Canva, and a small C++ program in order to help with future actions.</li>
            <li>Composed an annual report with a team member by interviewing cybersecurity staff and making use of Microsoft Office products in order to depict the changes in services provided by the UNICC.</li>
        </ul>
    </div>
</div>


<div class="item">
    <div class="item-details">
        <div style="display:flex; align-items:center">
            <h3 class="item-title">Student</h3>
            <div class="item-date">
                Apr 2019 - Present
            </div>
        </div>
        <h4 class="item-subtitle">Publicolor</h4>
        <ul>
            <li>Paint Club: Collaborated with other students to paint BASE High School.</li>
            <li>Next Steps: Spent the weekends painting schools in Brooklyn, Manhattan, and Queens with other Publicolor students.</li>
            <li>Summer Design Studio: Designed compelling projects with a team of Publicolor students using Gravit and graphic design concepts.</li>
        </ul>
    </div>
</div>

{% endblock work %}

{% block education %}

<div class="item">
    <div class="item-details">
        <div style="display:flex; align-items:center">
            <h3 class="item-title">The City College of New York</h3>
            <div class="item-date">
                Aug 2020 - Present (Expected Graduation: May 2024)
            </div>
        </div>
        <h4 class="item-subtitle">Bachelor of Science in Computer Science, 4th Semester, 3.6 GPA</h4>
    </div>
</div>

{% endblock education %}
