{% extends 'info_page.html' %}

{% block page %}
<section class="intro">
    <h2 class="section-title">Introduction</h2>
    <p>
        Welcome to my portfolio! My name is Talike (pronounced tah-leek) and I am a 
        Production Engineering Fellow in the MLH Fellowship for summer 2022. This website
        serves as the home of all the concepts I have learned while taking part in the
        fellowship. Each week focused on a different concept and with every concept, this
        website continued to grow. Feel free to look around, get an idea of what was
        covered during the fellowship, and learn a little bit more about me!
    </p>
</section>

<hr/>

<section class="week-info">
    <h2 class="section-title">Week 1: Orientation</h2>
    <img src="https://i.gifer.com/ZZ5H.gif" alt="loading">
    <!--
        CONCEPTS LEARNED
        production engineering fundamentals
        development environments
        packages + package managers
        pair coding + code review

        TOOLS USED    
        Python (.py) + Flask + Jinja
        HTML (.html)
        CSS (.css)
        Git + GitHub
    -->
</section>

<hr/>

<section class="week-info">
    <h2 class="section-title">Week 2: Linux Fundamentals</h2>
    <img src="https://i.gifer.com/ZZ5H.gif" alt="loading">
    <!--
        CONCEPTS LEARNED
        giving and receiving feedback
        Linux commands + filesystem + terminal
        virtual private server (VPS)
        SSH authentication
        website domain
        CTCI: Arrays

        TOOLS USED
        DigitalOcean
        DuckDNS
        tmux
    -->
</section>

<hr/>

<section class="week-info">
    <h2 class="section-title">Week 3: Scripting</h2>
    <img src="https://i.gifer.com/ZZ5H.gif" alt="loading">
    <!--
        CONCEPTS LEARNED
        scripting
        deployment automation
        programs + programs + signals
        CTCI: String Manipulation + Regex

        TOOLS USED
        Bash (.sh)
    -->
</section>

<hr/>

<section class="week-info">
    <h2 class="section-title">Week 4: Services + Databases</h2>
    <img src="https://i.gifer.com/ZZ5H.gif" alt="loading">
    <!--
        CONCEPTS LEARNED
        types of databases + database importance + database mappings
        services
        HTTP requests
        caching
        CTCI: File Handling

        TOOLS USED
        MySQL + peewee + environment variables (.env)
        JavaScript
        Postman
        services (.service)
    -->
</section>

<hr/>

<section class="week-info">
    <h2 class="section-title">Week 5: Testing</h2>
    <img src="https://i.gifer.com/ZZ5H.gif" alt="loading">
    <!--
        CONCEPTS LEARNED
        ...
        CTCI: Linked Lists

        TOOLS USED
        ...
    -->
</section>

<hr/>

<section class="week-info">
    <h2 class="section-title">Week 6: Containers</h2>
    <img src="https://i.gifer.com/ZZ5H.gif" alt="loading">
    <!--
        CONCEPTS LEARNED
        ...

        TOOLS USED
        ...
    -->
</section>

<hr/>

<section class="week-info">
    <h2 class="section-title">Week 7: Interview Practices</h2>
    <img src="https://i.gifer.com/ZZ5H.gif" alt="loading">
    <!--
        CONCEPTS LEARNED
        ...

        TOOLS USED
        ...
    -->
</section>

<hr/>

<section class="week-info">
    <h2 class="section-title">Week 8: Continuous Integration</h2>
    <img src="https://i.gifer.com/ZZ5H.gif" alt="loading">
    <!--
        CONCEPTS LEARNED
        ...

        TOOLS USED
        ...
    -->
</section>

<hr/>

<section class="week-info">
    <h2 class="section-title">Week 9: Monitoring + Networking</h2>
    <img src="https://i.gifer.com/ZZ5H.gif" alt="loading">
    <!--
        CONCEPTS LEARNED
        ...

        TOOLS USED
        ...
    -->
</section>

<hr/>

<section class="week-info">
    <h2 class="section-title">Week 10: Troubleshooting</h2>
    <img src="https://i.gifer.com/ZZ5H.gif" alt="loading">
    <!--
        CONCEPTS LEARNED
        ...

        TOOLS USED
        ...
    -->
</section>

<hr/>

<section class="week-info">
    <h2 class="section-title">Week 11: Interview Practice</h2>
    <img src="https://i.gifer.com/ZZ5H.gif" alt="loading">
    <!--
        CONCEPTS LEARNED
        ...

        TOOLS USED
        ...
    -->
</section>

<hr/>

<section class="week-info">
    <h2 class="section-title">Week 12: Capture the Flag</h2>
    <img src="https://i.gifer.com/ZZ5H.gif" alt="loading">
    <!--
        CONCEPTS LEARNED
        ...

        TOOLS USED
        ...
    -->
</section>
{% endblock %}