{% extends 'index.html' %}

{% block content %}
<section style="text-align: center;">
    <h2 class="section-title">Hobbies</h2>
        <h3>Playing Video Games</h3>
        <img src="https://signal.avg.com/hubfs/Blog_Content/Avg/Signal/AVG%20Signal%20Images/9%20Ways%20to%20Boost%20Your%20Gaming%20Rig/How_to_Improve_Your_Gaming_PC_Performance-Hero.jpg" alt="gamer">
        <h3>Listening to Music</h3>
        <img src="https://static.independent.co.uk/2020/10/30/11/ariana-grande.jpg?quality=75&width=982&height=726&auto=webp" alt="ariana-grande">
</section>
{% endblock %}
