{% extends 'index.html' %}

{% block content %}
    <section>
        <h2 class="section-title">About Me</h2>
        {% block about %}{% endblock about %}
    </section>

    <hr>

    <section>
        <h2 class="section-title">Work Experience</h2>
        {% block work %}{% endblock work %}
    </section>

    <hr>

    <section>
        <h2 class="section-title">Education</h2>
        {% block education %}{% endblock education %}
    </section>

    <hr>

    <section>
        <h2 class="section-title">Hobbies</h2>
        {% if self._TemplateReference__context.name == '/victor/home.html' %}
        <a href="{{ url_for('victor_hobbies') }}" class="hobbies">Click to open Hobbies</a>
        {% else %}
        <a href="{{ url_for('talike_hobbies') }}" class="hobbies">Click to open Hobbies</a>
        {% endif %}
    </section>

    <hr>

    <section>
        <h2 class="section-title">Places I've been</h2>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d59726.34441281601!2d-103.370432582119!3d20.673788314988638!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8428b18cb52fd39b%3A0xd63d9302bf865750!2sGuadalajara%2C%20Jalisco!5e0!3m2!1sen!2smx!4v1654414938134!5m2!1sen!2smx" width="100%" height="600px" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </section>
{% endblock content %}