<!DOCTYPE html>
<html lang="en">

<!-- TODO: Find a way to apply template inheritance to this file -->

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta property="og:title" content="Personal Portfolio">
    <meta property="og:description" content="My Personal Portfolio">
    <meta property="og:url" content="{{ url }}">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">

    <link lang='sass' rel="stylesheet" href="./static/styles/home.css">
    <link rel='icon' href='./static/img/favicon.ico' type='image/x-icon' />
    <title>{{ title }}</title>
</head>

<body>
    <div class="row">
        <div class="column">
            <a href="{{ url_for('talike_page') }}">
                <img src="./static/img/Talike.jpg" />
            </a>
        </div>
        <div class="column">
            <a href="{{ url_for('victor_page') }}">
                <img src="./static/img/Victor.jpeg" />
            </a>
        </div>
      </div>
</body>