{% extends 'index.html' %}

{% block content %}
<section class="intro">
    <h2 class="section-title">Introduction</h2>
    <p>
        Welcome to my portfolio! My name is Talike (pronounced tah-leek) and I am a 
        Production Engineering Fellow in the MLH Fellowship for summer 2022. This website
        serves as the home of all the concepts I have learned while taking part in the
        fellowship. Each week focused on a different concept and with every concept, this
        website continued to grow. Feel free to look around, get an idea of what was
        covered during the fellowship, and learn a little bit more about me!
    </p>
</section>

<hr/>

<section class="week-1">
    <h2 class="section-title">Week 1: Orientation</h2>
    <p>...</p>
</section>

<hr/>

<section class="week-2">
    <h2 class="section-title">Week 2: Linux Fundamentals</h2>
    <p>...</p>
</section>

<hr/>

<section class="week-3">
    <h2 class="section-title">Week 3: Scripting</h2>
    <p>...</p>
</section>

<hr/>

<section class="week-4">
    <h2 class="section-title">Week 4: Services + Databases</h2>
    <p>...</p>
</section>

<hr/>

<section class="week-5">
    <h2 class="section-title">Week 5: Testing</h2>
    <img src="https://media4.giphy.com/media/3o7bu3XilJ5BOiSGic/giphy.gif" alt="loading">
</section>
{% endblock %}