<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta property="og:title" content="Personal Portfolio">
    <meta property="og:description" content="My Personal Portfolio">
    <meta property="og:url" content="{{ url }}">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">

    <link lang='sass' rel="stylesheet" href="/static/styles/main.css">
    <link rel='icon' href='/static/img/favicon.ico' type='image/x-icon' />
    <title>Talike Bennett's MLH Portfolio</title> <!-- Website tab title -->

    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;500;700&display=swap" rel="stylesheet">
</head>

<body>
    <header class="nav-bar">
        <div class="nav-logo">
            <img src="/static/img/logo.svg" alt="mlh-logo"/>
        </div>
        <div class="profile">
            <div class="profile-picture">
                <img src="/static/{{img}}" alt="profile-picture"/>
            </div>
            <h1>Talike Bennett</h1>
        </div>
        <nav class="tabs">
            <a href="{{ url_for('home') }}">Fellowship Experience</a> |
            <a href="{{ url_for('about_me') }}">About Me</a> |
            <a href="{{ url_for('contact') }}">Contact</a> |
            <a href="{{ url_for('timeline') }}">Posts</a>
        </nav>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>