{% extends 'index.html' %}

{% block css_link %}
<link lang='sass' rel="stylesheet" href="/static/styles/main.css">
{% endblock %}

{% block content %}
<body>
    <header class="nav-bar" id="nav-bar">
        <div class="nav-logo" id="nav-logo">
            <img src="/static/img/logo.svg" alt="mlh-logo"/>
        </div>
        <div class="profile">
            <div class="profile-picture" id="profile-picture">
                <a href="{{ url_for('home') }}">
                    <img src="/static/Talike.jpg" alt="profile-picture"/>
                </a>
            </div>
            <h1 id="title">Talike Bennett</h1>
        </div>
        <nav class="tabs" id="tabs">
            <a href="{{ url_for('fellowship') }}">Fellowship Experience</a> |
            <a href="{{ url_for('about_me') }}">About Me</a> |
            <a href="{{ url_for('contact') }}">Contact</a> |
            <a href="{{ url_for('timeline') }}">Posts</a>
        </nav>
    </header>

    <main id="main">
        {% block page %}{% endblock %}
    </main>

    <script>
        // SOURCE: https://www.w3schools.com/howto/howto_js_shrink_header_scroll.asp
        window.onscroll = function() {scrollFunction()};

        function scrollFunction() {
            if (document.body.scrollTop > 80 || document.documentElement.scrollTop > 80) {
                document.getElementById("nav-bar").style.height = "115px";
                document.getElementById("nav-logo").style.transform = "translate(" + -650 + "px," + 0 + "px) scale(" + 0.75 + ")";
                document.getElementById("profile-picture").style.transform = "translate(" + 0 + "px," + -150 + "px) scale(" + 0.30 + ")";
                document.getElementById("title").style.transform = "translate(" + 0 + "px," + -250 + "px) scale(" + 0.5 + ")";
                document.getElementById("tabs").style.transform = "translate(" + 525 + "px," + -340 + "px) scale(" + 1 + ")";
                document.getElementById("main").style.transform = "translate(" + 0 + "px," + -150 + "px)";
            } else {
                document.getElementById("nav-bar").style.height = "425px";
                document.getElementById("nav-logo").style.transform = "translate(" + 0 + "px," + 0 + "px) scale(" + 1 + ")";
                document.getElementById("profile-picture").style.transform = "translate(" + 0 + "px," + 0 + "px) scale(" + 1 + ")";
                document.getElementById("title").style.transform = "translate(" + 0 + "px," + 0 + "px) scale(" + 1 + ")";
                document.getElementById("tabs").style.transform = "translate(" + 0 + "px," + 0 + "px) scale(" + 1 + ")";
                document.getElementById("main").style.transform = "translate(" + 0 + "px," + 0 + "px)";
            }
        }
    </script>
</body>
{% endblock %}