{% extends 'index.html' %}

{% block css_link %}
<link lang='sass' rel="stylesheet" href="/static/styles/main.css">
{% endblock %}

{% block content %}
<body>
    <header class="nav-bar">
        <div class="nav-logo">
            <img src="/static/img/logo.svg" alt="mlh-logo"/>
        </div>
        <div class="profile">
            <a href="{{ url_for('home') }}">
                <div class="profile-picture">
                    <img src="/static/Talike.jpg" alt="profile-picture"/>
                </div>
            </a>
            <h1>Talike Bennett</h1>
        </div>
        <nav class="tabs">
            <a href="{{ url_for('fellowship') }}">Fellowship Experience</a> |
            <a href="{{ url_for('about_me') }}">About Me</a> |
            <a href="{{ url_for('contact') }}">Contact</a> |
            <a href="{{ url_for('timeline') }}">Posts</a>
        </nav>
    </header>

    <main>
        {% block page %}{% endblock %}
    </main>
</body>
{% endblock %}