{% extends 'index.html' %}

{% block content %}
<section style="text-align: center;">

    <form id="timeline-form">
        <input type="text" name="name">
        <input type="email" name="email">
        <input type="text" name="content">
        <button>submit</button>
    </form>

    <div id="timeline-posts">0</div>
    <script>
        const form = document.getElementById("timeline-form");
        const posts = document.getElementById("timeline-posts");

        function getPosts() {
            event.preventDefault();
            fetch('http://127.0.0.1:5000/api/timeline_post').then(response => {
                return response.json();
            }).then(data => {
                for (const element of data.timeline_posts) {
                    console.log(element)
                    posts.innerHTML += 
                    `<div>
                        <p>content: ${element.content}</p>
                        <p>created_at: ${element.created_at}</p>
                        <p>email: created_at: ${element.email}</p>
                    </div>`;
            });
        }

        form.onsubmit = (event) => {
            event.preventDefault();
            const data = new FormData(form);
            fetch('http://127.0.0.1:5000/api/timeline_post', {
                method: 'POST',
                body: data,
            }).then(res => {
                return res.json();
            }
            ).then(data => {
                console.log(data);
                getPosts();
            });
        };

        window.onload = getPosts;
    </script>
</section>

{% endblock content %}