{% extends 'base.html' %}

{% block picture %}
<img src="./static/img/Victor.jpeg">
{% endblock %}

{% block desc %}
<p>I'm a software engineer </p>
{% endblock %}


{% block jobs %}

<div class="resume-item">
    <div class="resume-item-details">
        <h3 class="resume-item-title">Software Engineer</h3>
        <h4 class="resume-item-subtitle">Blue People</h4>
        <ul class="list-disc">
            <li>This is a sample resume item</li>
            <li>I placed styles and it can be reused for other sections</li>
            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur dolores architecLorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur dolores architecLorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur dolores architecto </li>
            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur dolores architecLorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur dolores architecLorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur dolores architecto </li>
        </ul>
    </div>
    <div class="resume-item-date">
        January 2017 - December 2018
    </div>
</div>

<div class="resume-item">
    <div class="resume-item-details">
        <h3 class="resume-item-title">Software Engineer</h3>
        <h4 class="resume-item-subtitle">Blue People</h4>
        <ul>
            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur dolores architecto </li>
            <li>Devloped no se q  para no se qDevloped no se q  para no se qDevloped no se q  para no se q</li>
            <li>Devloped no se q  para no se qDevloped no se q  para no se qDevloped no se q  para no se q</li>
            <li>Devloped no se q  para no se qDevloped no se q  para no se qDevloped no se q  para no se q</li>
        </ul>
    </div>
    <div class="resume-item-date">
        January 2017 - December 2018
    </div>
</div>

{% endblock jobs %}

{% block education %}
{% endblock education %}