{% extends 'base.html' %}

{% block picture %}
<img src="./static/img/Victor.jpeg">
{% endblock %}

{% block desc %}
<p>This section is for Victor's About Me.</p>
{% endblock %}

{% block job %}
    {% for i in range(titles|length) %}
    <!-- Inline left- and right-aligned text -->
    <h3>
        <span style="float:left;">
            {{ titles[i] }}
        </span>
        <span style="float:right;">
            {{ dates[i] }}
        </span>
    </h3>
    <br>
    <h4>{{ locations[i] }}</h4>
    <ul>
        <li>desc1</li>
        <li>desc2</li>
        <li>desc3</li>
    </ul>
    {% endfor %}
{% endblock %}

{% block edu %}
<h3>
    <span style="float:left;">
        Tec de Monterrey
    </span>
    <span style="float:right;">
        August 2019 - Present
    </span>
</h3>
<br>
<ul>
    <li>Major: ...</li>
    <li>GPA: ...</li>
    <li>Activities + Clubs: ...</li>
</ul>
{% endblock %}